<a href="https://colab.research.google.com/github/yulianthyho/XYZ-Store-Analysis/blob/main/XYZ_Store_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Background 
You are the data analyst of XYZ, Ltd. One day, your CEO requested you to come to an annual board meeting. In order to make the decision more accurate, the CEO would like to discuss the company's profitability condition and needs you as data analyst to support on the analysis based on these questions, below:

 - What happened to the sales performance of XYZ, Ltd ? 
 - Why did it happen? 
 - How would you improve the performance of the company?

#Import Library

In [ ]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from datetime import timedelta

#Load the Dataset

In [ ]:
url_1 = 'https://docs.google.com/spreadsheets/d/1Q3F8E1kFn4FkhREijcVCuxXLblAHsO_LHOqAokg9qO4/edit#gid=75363367'
url_sheet_trf_1 = url_1.replace('/edit#gid=', '/export?format=xlsx&gid=')

# load the order_dataset
df_order = pd.read_excel(url_sheet_trf_1)
pd.set_option('display.max.columns',None)
# get the overview of the dataset
df_order.head()

,Row ID,order_id,order_date,order_priority,order_quantity,gross_sales,discount,discounted_sales,ship_mode,COGS,Profit,unit_price,shipping_cost,customer_name,Province,Region,customer_segment,product_category,product_sub_category,product_name,product_container,Product Base Margin (COGS),shipdate
0,1.0,3.0,2010-10-13,Low,6.0,268.64,0.04,259.2944,Regular Air,186.912,37.38239999999999,38.94,35.0,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.8,2010-10-20
1,49.0,293.0,2012-10-01,High,49.0,"10,267.86",0.07,"9,553.8712",Delivery Truck,"5,915.907199999999","3,569.944",208.16,68.02,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50.0,293.0,2012-10-01,High,27.0,237.62,0.01,235.2737,Regular Air,91.5057,140.77799999999996,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80.0,483.0,2011-07-10,High,30.0,"5,883.6900000000005",0.08,"5,413.314",Regular Air,"3,410.226","1,999.0980000000002",195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85.0,515.0,2010-08-28,Not Specified,19.0,419.76000000000005,0.08,386.65440000000007,Regular Air,206.91000000000003,173.80440000000004,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.5,2010-08-30

In [ ]:
url_2 = 'https://docs.google.com/spreadsheets/d/1Q3F8E1kFn4FkhREijcVCuxXLblAHsO_LHOqAokg9qO4/edit#gid=2082975771'
url_sheet_trf_2= url_2.replace('/edit#gid=', '/export?format=xlsx&gid=')


# load the order_payments_dataset
df_returned = pd.read_excel(url_sheet_trf_2)
pd.set_option('display.max.columns',None)

#get the overview of the dataset
df_returned.head()

   order_id    Status
0      65.0  Returned
1      69.0  Returned
2     134.0  Returned
3     135.0  Returned
4     230.0  Returned

# Merge the Dataset

In [ ]:
#data merge
df = df_order.merge(df_returned, how='left', on='order_id')
df

,Row ID,order_id,order_date,order_priority,order_quantity,gross_sales,discount,discounted_sales,ship_mode,COGS,Profit,unit_price,shipping_cost,customer_name,Province,Region,customer_segment,product_category,product_sub_category,product_name,product_container,Product Base Margin (COGS),shipdate,Status
0,1.0,3.0,2010-10-13,Low,6.0,268.64,0.04,259.2944,Regular Air,186.912,37.38239999999999,38.94,35.0,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.8,2010-10-20,NaN
1,49.0,293.0,2012-10-01,High,49.0,"10,267.86",0.07,"9,553.8712",Delivery Truck,"5,915.907199999999","3,569.944",208.16,68.02,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02,NaN
2,50.0,293.0,2012-10-01,High,27.0,237.62,0.01,235.2737,Regular Air,91.5057,140.77799999999996,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03,NaN
3,80.0,483.0,2011-07-10,High,30.0,"5,883.6900000000005",0.08,"5,413.314",Regular Air,"3,410.226","1,999.0980000000002",195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12,NaN
4,85.0,515.0,2010-08-28,Not Specified,19.0,419.76000000000005,0.08,386.65440000000007,Regular Air,206.91000000000003,173.80440000000004,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.5,2010-08-30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,"7,765.0","55,558.0",2010-08-09,Medium,8.0,"1,274.11",0.05,"1,213.7179999999998",Delivery Truck,785.096,362.35199999999986,150.98,66.27,Mick Brown,Alberta,West,Consumer,Furniture,Bookcases,Bush Mission Pointe Library,Jumbo Box,0.65,2010-08-09,NaN
8395,"7,766.0","55,558.0",2010-08-09,Medium,23.0,400.74,0.04,385.0356,Regular Air,149.1918,227.7138,17.07,8.13,Mick Brown,Alberta,West,Consumer,Office Supplies,Envelopes,Recycled Interoffice Envelopes with Re-Use-A-S...,Small Box,0.38,2010-08-11,NaN
8396,"7,906.0","56,550.0",2011-04-08,Not Specified,37.0,827.59,0.03,802.9147,Express Air,337.2291,460.6056000000001,22.23,5.08,Frank Hawley,Alberta,West,Home Office,Furniture,Office Furnishings,"Executive Impressions 14""",Small Pack,0.41,2011-04-10,NaN
8397,"7,907.0","56,550.0",2011-04-08,Not Specified,8.0,536.91,0.0,536.91,Regular Air,295.6352,232.28479999999996,65.99,8.99,Frank Hawley,Alberta,West,Home Office,Technology,Telephones and Communication,Talkabout T8367,Small Box,0.56,2011-04-09,NaN
8398,"7,914.0","56,581.0",2009-02-08,High,20.0,"2,133.5899999999997",0.1,"1,921.6299999999999",Express Air,"1,377.74",529.8999999999999,105.98,13.99,Grant Donatelli,Alberta,West,Consumer,Furniture,Office Furnishings,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",Medium Box,0.65,2009-02-11,NaN

# Cleaning the Data

## Handling Missing Values

In [ ]:
#checking missing values of dataset
df.isna().sum()

Row ID                           0
order_id                         0
order_date                       0
order_priority                   0
order_quantity                   0
gross_sales                      0
discount                         0
discounted_sales                 0
ship_mode                        0
COGS                             0
Profit                           0
unit_price                       0
shipping_cost                    0
customer_name                    0
Province                         0
Region                           0
customer_segment                 0
product_category                 0
product_sub_category             0
product_name                     0
product_container                0
Product Base Margin (COGS)      63
shipdate                         0
Status                        7527
dtype: int64

We will drop 63 rows in column Product Base Margin (COGS) and fillna Status with Not returned

In [ ]:
#fillna status with no returned
df['Status']= df['Status'].fillna('Not Returned')

In [ ]:
#because we can't subset the null data , we drop the null data
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

Row ID                        0
order_id                      0
order_date                    0
order_priority                0
order_quantity                0
gross_sales                   0
discount                      0
discounted_sales              0
ship_mode                     0
COGS                          0
Profit                        0
unit_price                    0
shipping_cost                 0
customer_name                 0
Province                      0
Region                        0
customer_segment              0
product_category              0
product_sub_category          0
product_name                  0
product_container             0
Product Base Margin (COGS)    0
shipdate                      0
Status                        0
dtype: int64

Our dataset is now clean from missing values

## Handling Duplicate Data

In [ ]:
df.duplicated().sum()

0

Our dataset is clean from duplicated data

## Removing Irrelevant Values

In [ ]:
#removing irrelevant column
df= df.drop(columns=['Row ID'])

## Converting Data Types

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8336 entries, 0 to 8398
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   order_id                    8336 non-null   float64
 1   order_date                  8336 non-null   datetime64[ns]
 2   order_priority              8336 non-null   object
 3   order_quantity              8336 non-null   float64
 4   gross_sales                 8336 non-null   float64
 5   discount                    8336 non-null   float64
 6   discounted_sales            8336 non-null   float64
 7   ship_mode                   8336 non-null   object
 8   COGS                        8336 non-null   float64
 9   Profit                      8336 non-null   float64
 10  unit_price                  8336 non-null   float64
 11  shipping_cost               8336 non-null   float64
 12  customer_name               8336 non-null   object
 13  Province                    8336 non-null   object
 14  Region                      8336 non-null   object
 15  customer_segment            8336 non-null   object
 16  product_category            8336 non-null   object
 17  product_sub_category        8336 non-null   object
 18  product_name                8336 non-null   object
 19  product_container           8336 non-null   object
 20  Product Base Margin (COGS)  8336 non-null   float64
 21  shipdate                    8336 non-null   datetime64[ns]
 22  Status                      8336 non-null   object
dtypes: datetime64[ns](2), float64(10), object(11)
memory usage: 1.5+ MB

In [ ]:
#change order id from float to object
df['order_id'] = df['order_id'].astype(str)
df['order_id'] = df['order_id'].str.split('.', expand = True)[0]

In [ ]:
#change order quantity from float to int
df['order_quantity'] = df['order_quantity'].astype(int)

##Handling Typos

In [ ]:
df['ship_mode'].value_counts()

Regular Air       6233
Delivery Truck    1130
Express Air        973
Name: ship_mode, dtype: int64

In [ ]:
df['order_priority'].value_counts()

High             1755
Low              1709
Not Specified    1657
Medium           1625
Critical         1590
Name: order_priority, dtype: int64

In [ ]:
df['Province'].value_counts()

Ontario                  1813
British Columbia         1117
Saskachewan               906
Alberta                   862
Manitoba                  788
Quebec                    775
Yukon                     539
Nova Scotia               459
Northwest Territories     390
New Brunswick             320
Prince Edward Island      209
Newfoundland               82
Nunavut                    76
Name: Province, dtype: int64

In [ ]:
df['Region'].value_counts()

West                     1979
Ontario                  1813
Prarie                   1694
Atlantic                 1070
Quebec                    775
Yukon                     539
Northwest Territories     390
Nunavut                    76
Name: Region, dtype: int64

In [ ]:
df['customer_segment'].value_counts()

Corporate         3054
Home Office       2018
Consumer          1635
Small Business    1629
Name: customer_segment, dtype: int64

In [ ]:
df['product_category'].value_counts()

Office Supplies    4589
Technology         2065
Furniture          1682
Name: product_category, dtype: int64

In [ ]:
df['product_sub_category'].value_counts()

Paper                             1225
Binders and Binder Accessories     915
Telephones and Communication       883
Office Furnishings                 788
Computer Peripherals               758
Pens & Art Supplies                633
Storage & Organization             525
Appliances                         434
Chairs & Chairmats                 360
Tables                             349
Office Machines                    337
Labels                             288
Envelopes                          246
Bookcases                          185
Rubber Bands                       179
Scissors, Rulers and Trimmers      144
Copiers and Fax                     87
Name: product_sub_category, dtype: int64

In [ ]:
df['product_container'].value_counts()

Small Box     4341
Wrap Bag      1168
Small Pack     956
Jumbo Drum     612
Jumbo Box      528
Large Box      380
Medium Box     351
Name: product_container, dtype: int64

In [ ]:
df['Status'].value_counts()

Not Returned    7473
Returned         863
Name: Status, dtype: int64

Our dataset is clean from typos

# Descriptive Statistics

Adding Calculated Field to see Profit Margin , The formula is (Profit / Discounted Sales) * 100. We use discounted sales here, in order to better describe the company's profit because it takes into account the discount

In [ ]:
#adding calculated field
df['gross_profit_margin'] = (df.Profit / df['discounted_sales'])
df.head(5)

,order_id,order_date,order_priority,order_quantity,gross_sales,discount,discounted_sales,ship_mode,COGS,Profit,unit_price,shipping_cost,customer_name,Province,Region,customer_segment,product_category,product_sub_category,product_name,product_container,Product Base Margin (COGS),shipdate,Status,gross_profit_margin
0,3,2010-10-13,Low,6,268.64,0.04,259.2944,Regular Air,186.912,37.38239999999999,38.94,35.0,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.8,2010-10-20,Not Returned,0.1441697159676414
1,293,2012-10-01,High,49,"10,267.86",0.07,"9,553.8712",Delivery Truck,"5,915.907199999999","3,569.944",208.16,68.02,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02,Not Returned,0.37366465647977337
2,293,2012-10-01,High,27,237.62,0.01,235.2737,Regular Air,91.5057,140.77799999999996,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-DÂ® Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03,Not Returned,0.5983584225521168
3,483,2011-07-10,High,30,"5,883.6900000000005",0.08,"5,413.314",Regular Air,"3,410.226","1,999.0980000000002",195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12,Not Returned,0.3692928213659877
4,515,2010-08-28,Not Specified,19,419.76000000000005,0.08,386.65440000000007,Regular Air,206.91000000000003,173.80440000000004,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.5,2010-08-30,Not Returned,0.4495083981974601

To get more full describe about our profit and sales performance, we consider to not remove outlier from our dataset and consider where status is Not Returned

In [ ]:
#get the dataset where status is not returned
df1 = df.loc[(df['Status']=='Not Returned')]

In [ ]:
# Get descriptive statistics summary
df1.describe(include = "all")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,order_id,order_date,order_priority,order_quantity,gross_sales,discount,discounted_sales,ship_mode,COGS,Profit,unit_price,shipping_cost,customer_name,Province,Region,customer_segment,product_category,product_sub_category,product_name,product_container,Product Base Margin (COGS),shipdate,Status,gross_profit_margin
count,7473,7473,7473,"7,473.0","7,473.0","7,473.0","7,473.0",7473,"7,473.0","7,473.0","7,473.0","7,473.0",7473,7473,7473,7473,7473,7473,7473,7473,"7,473.0",7473,7473,"7,473.0"
unique,4907,1401,5,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,794,13,8,4,3,17,1246,7,NaN,1442,1,NaN
top,43745,2011-09-15 00:00:00,High,NaN,NaN,NaN,NaN,Regular Air,NaN,NaN,NaN,NaN,Ed Braxton,Ontario,West,Corporate,Office Supplies,Paper,"Global High-Back Leather Tilter, Burgundy",Small Box,NaN,2011-05-21 00:00:00,Not Returned,NaN
freq,6,20,1576,NaN,NaN,NaN,NaN,5605,NaN,NaN,NaN,NaN,33,1584,1786,2723,4131,1091,23,3919,NaN,18,7473,NaN
first,NaN,2009-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-01-02 00:00:00,NaN,NaN
last,NaN,2012-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-30 00:00:00,NaN,NaN
mean,NaN,NaN,NaN,25.469021811856013,"1,823.1386712163792",0.04983540746688078,"1,733.3064347651546",NaN,"1,012.3810542486284",708.2374653552789,89.43261340826977,12.687915161247158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5123016191623178,NaN,NaN,0.4434844590760554
std,NaN,NaN,NaN,14.507460785244886,"3,694.6042971386387",0.03177665961441779,"3,522.2953065800316",NaN,"2,001.5196571304043","1,682.2270653149287",293.6913894630468,17.196108874627022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.13504272667824388,NaN,NaN,0.1401963240038873
min,NaN,NaN,NaN,1.0,2.1799999999999997,0.0,2.1652,NaN,0.5476,0.3275999999999992,0.99,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.35,NaN,NaN,0.04481945200508073
25%,NaN,NaN,NaN,13.0,144.03,0.02,136.82,NaN,60.495999999999995,64.96000000000004,6.48,3.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.38,NaN,NaN,0.36058278906193925
50%,NaN,NaN,NaN,25.0,450.34000000000003,0.05,431.7850000000001,NaN,217.6448,180.98640000000003,20.98,6.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.52,NaN,NaN,0.4339148385363078
75%,NaN,NaN,NaN,38.0,"1,758.6200000000001",0.08,"1,669.196",NaN,956.0096,662.0795999999998,85.99,13.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,NaN,NaN,0.5775177629454192
max,NaN,NaN,NaN,50.0,"88,203.75000000001",0.25,"88,203.75000000001",NaN,"34,389.911400000005","53,789.34860000001","6,783.02",164.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.85,NaN,NaN,0.6496115373702861

**Key Findings:**

- On average our Gross Profit Margin is 44%, which is considerable quite high
- Top customer is Corporate with best selling product is Paper from Office Supplies category
- Top shipmode used is Regular Air

# Exploratory Data Analysis

**1. Which Category is Best Selling and Most Profitable?**

In [ ]:
# Group sales, profit and quantity by category
category_analysis = pd.DataFrame(df1.groupby(['product_category'])[['discounted_sales', 'Profit', 'order_quantity']].sum())
pd.set_option('display.float_format',  '{:,}'.format) # set the display of numbers so that they are not abbreviated
category_analysis = round(category_analysis,2)                          # set the display of numbers to be rounded to 2 digits after the comma
category_analysis

                  discounted_sales       Profit  order_quantity
product_category
Furniture             4,303,826.44 1,342,556.64           38084
Office Supplies       3,124,131.25 1,406,511.04          105780
Technology             5,525,041.3 2,543,590.89           46466

- Technology is Best Selling and it's good to know that this category is the Most Profitable too. 
- Although Furniture makes the seconds position from Technology, it is the least profitable and quantity sold are at a minimum too.
- Office Supplies sells the most in terms of quantity as it is relatively cheap product.


**2. What are the Best Selling and Most Profitable Sub-Category?**

In [ ]:
# Group by sub-category
subcat_analysis = pd.DataFrame(df1.groupby(['product_sub_category'])[['discounted_sales', 'Profit', 'order_quantity']].sum())
pd.set_option('display.float_format',  '{:,}'.format) # set the display of numbers so that they are not abbreviated
subcat_analysis = round(subcat_analysis,2)                          # set the display of numbers to be rounded to 2 digits after the comma
subcat_analysis

                                discounted_sales     Profit  order_quantity
product_sub_category
Appliances                            662,940.24 270,170.39           10116
Binders and Binder Accessories        775,714.05  465,778.4           20564
Bookcases                             676,801.28 213,732.35            4094
Chairs & Chairmats                  1,463,449.93 496,784.41            8231
Computer Peripherals                  694,962.84 272,035.85           17132
Copiers and Fax                       953,405.53 532,156.46            1843
Envelopes                             151,732.53  89,500.87            5876
Labels                                  34,791.8  20,910.98            6740
Office Furnishings                    576,133.09 221,709.18           18158
Office Machines                     1,923,796.81 975,050.68            6860
Paper                                 383,608.47  228,467.7           27521
Pens & Art Supplies                   140,274.85  58,564.87           14788
Rubber Bands                           12,144.04   5,420.31            4330
Scissors, Rulers and Trimmers          75,617.67  15,570.25            3709
Storage & Organization                887,307.59 252,127.27           12136
Tables                              1,587,442.14  410,330.7            7601
Telephones and Communication        1,952,876.12  764,347.9           20631

In [ ]:
# Sort by descending order according to sales
subcat_sales = pd.DataFrame(subcat_analysis.sort_values('Profit', ascending = False))
subcat_sales

                                discounted_sales     Profit  order_quantity
product_sub_category
Office Machines                     1,923,796.81 975,050.68            6860
Telephones and Communication        1,952,876.12  764,347.9           20631
Copiers and Fax                       953,405.53 532,156.46            1843
Chairs & Chairmats                  1,463,449.93 496,784.41            8231
Binders and Binder Accessories        775,714.05  465,778.4           20564
Tables                              1,587,442.14  410,330.7            7601
Computer Peripherals                  694,962.84 272,035.85           17132
Appliances                            662,940.24 270,170.39           10116
Storage & Organization                887,307.59 252,127.27           12136
Paper                                 383,608.47  228,467.7           27521
Office Furnishings                    576,133.09 221,709.18           18158
Bookcases                             676,801.28 213,732.35            4094
Envelopes                             151,732.53  89,500.87            5876
Pens & Art Supplies                   140,274.85  58,564.87           14788
Labels                                  34,791.8  20,910.98            6740
Scissors, Rulers and Trimmers          75,617.67  15,570.25            3709
Rubber Bands                           12,144.04   5,420.31            4330

- The most profitabe products are Office Machines and Telephone and Communication
- The least profitable is Labels, Scissors , Rules and Trimmers, and Rubber Bands. All from Offices Supplies category

**3. Which Customer Segment is Most Profitable?**

In [ ]:
segment_analysis = pd.DataFrame(df1.groupby(['customer_segment'])[['Profit']].sum())
pd.set_option('display.float_format',  '{:,}'.format) # set the display of numbers so that they are not abbreviated
segment_analysis = round(segment_analysis,2)                          # set the display of numbers to be rounded to 2 digits after the comma
segment_analysis

                       Profit
customer_segment
Consumer         1,130,527.78
Corporate        1,971,297.65
Home Office      1,263,383.65
Small Business      927,449.5

Corporate segment is most profitable, followed by Home Office and Consumer Segment


**4. Which Region is the Most Profitable?**

In [ ]:
region_analysis = pd.DataFrame(df1.groupby(['Region'])['Profit'].sum().reset_index())
pd.set_option('display.float_format',  '{:,}'.format) # set the display of numbers so that they are not abbreviated
region_analysis = round(region_analysis,2)                          # set the display of numbers to be rounded to 2 digits after the comma
region_analysis

                  Region       Profit
0               Atlantic   752,449.09
1  Northwest Territories   250,338.74
2                Nunavut    39,201.15
3                Ontario 1,012,902.37
4                 Prarie 1,016,719.54
5                 Quebec   556,250.47
6                   West 1,306,531.08
7                  Yukon   358,266.14

In [ ]:
# Sort by descending order according to profi
region_analysis = pd.DataFrame(region_analysis.sort_values('Profit', ascending = False))
region_analysis

                  Region       Profit
6                   West 1,306,531.08
4                 Prarie 1,016,719.54
3                Ontario 1,012,902.37
0               Atlantic   752,449.09
5                 Quebec   556,250.47
7                  Yukon   358,266.14
1  Northwest Territories   250,338.74
2                Nunavut    39,201.15

Top region that contribute the most profit is West, while Nunavut become the region with the least number of profit.

Import the clean dataset to csv file and then continue exploration on Tableau

In [ ]:
#convert data Transaction into csv >> Tableau Visualization
df1.to_csv('XYZ.csv', index= False)